@font-face {
    font-family: myFirstfont;
    src: url(https://fonts.google.com/specimen/Inter);
}
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Lexend Deca', sans-serif;
}
main {
    background-color:  hsl(233, 47%, 7%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1.5rem;
}
.card {
    background-color: hsl(244, 38%, 16%);
    width: 100rem;
    height: 44rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.left-card {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 6rem;
}
.right-card {
    background: linear-gradient(to bottom, hsla(277, 64%, 61%, 0.6), hsla(277, 64%, 61%, 0.6)), url("../images/image-header-desktop.jpg");
    background-color: white;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    filter: contrast(150%);
}
.left-card > h1 {
    color: hsl(0, 0%, 100%);
}
.left-card > h1 > span {
    color: hsl(277, 64%, 61%);
}
.left-card .main-paragraph {
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: -50px;
    line-height: 25px;
    width: 28rem;
    font-size: 1.3rem;
}
.stats {
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 30rem;
}
.stat-headings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.stat-headings > p{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.stat-headings > span {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
    font-family: myFirstfont;
    font-size: 1.2rem;
}
.attribution {
    font-size: 1.2rem;
    text-align: center;
    color: white;
}